*{ margin: 0; padding: 0; list-style: none;}
html,body{ height: 100%; }
.page-box-padd{padding:0 130px;}
.page-box-marg{margin:0 130px;}
.header-box{ height: 50px; border-bottom: #e5e5e5 solid 1px; align-items: center; display: flex; justify-content: space-between;}
.logo-box{ width: 120px;}
.header-menu-box{ width: calc(100% - 120px - 120px); display: flex; justify-content: right; }
.header-menu-box li a{display: block; padding: 0 20px;}
.user-box{ width: 120px; display: flex;}
.user-box a{ display: block; width: 60px; text-align: right;}